# Virtual environment & Python cache
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
.pytest_cache/
.ruff_cache/

# Local data & partitions
data/
*.parquet
*.csv
*.json

# Airflow & Docker local state
logs/
*.pid
airflow.db
airflow.cfg

# dbt artifacts
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/logs/

# OS files
.DS_Store
Thumbs.db
.env
